.card__card_box {
    display: flex;
    margin-top: 96px;
    width: 652px;
    margin-bottom: 40px;
    position: relative;
}

.card__card_box:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.busket_list {
    list-style-type: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-bottom: 6px;
}

.card__card_info {
    margin-left: 31px;
}

.card__card_heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
    margin-top: 22px;
}

.number_type {
    width: 44px;
    height: 25px;
    margin-left: 24px;
    border: 1px solid #EAEAEA;
    font-size: larger;
    text-align: center;
}

.span__price {
    color: red;
}

.card_img {
    height: 100%;
}

.container__card_box {
    display: flex;
    justify-content: space-between;
}

.shipping__adress {
    margin-top: 130px;
}

.shipping__heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-bottom: 20px;
}

.shipping__info {
    width: 360px;
    padding: 12px 15px;
    border: 1px solid #A4A4A4;
    margin-bottom: 21px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
}

.GET_A_QUOTE {
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background-color: #ffffff;
    padding: 10px 14px 10px 14px;
    transition: all 0.3s ease;
}

.GET_A_QUOTE:hover {
    color: #ffffff;
    background-color: red;
}

.cancel_button {
    right: 10px;
    top: 10px;
    position: absolute;
}

.cancel_button:hover {
    border: 1px solid red;
}

.card__box_button {
    padding: 16px 40px;
    border: 1px solid #A4A4A4;
    background-color: #ffffff;
    transition: all 0.3s linear;
}

.button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 128px;
}

.card__box_button:hover {
    color: #ffffff;
    background-color: black;
}

.checkout_box {
    background-color: #F5F3F3;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.checkout_text_top {
    padding-top: 39px;
    padding-bottom: 12px;
    padding-right: 34px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.checkout_text_middle {
    padding-right: 34px;
}

.proceed_button {
    align-self: center;
    padding: 16px 44px;
    color: #ffffff;
    background-color: #F16D7F;
    border: none;
    margin-bottom: 42px;
    transition: all 0.3s ease-in-out;
}

.proceed_button:hover {
    color: red;
    background-color: #ffffff;
}

.checkout_span {
    padding-left: 25px;
}

.checkout_text_middle {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.grand_total {
    color: red;
    padding-left: 20px;
}

.Card__border {
    border: 1px solid #E5E5E5;
    width: 252px;
    display: flex;
    align-self: center;
    margin-top: 21px;
    margin-bottom: 17px;


}