.registration__form {
    display: flex;
    margin-bottom: 96px;
}

.registration__heading {
    line-height: 19px;
    padding-top: 64px;
    padding-bottom: 20px;
}

.registration__info {
    padding: 15px;
    width: 360px;
    margin-bottom: 20px;
}

.gender__selection {
    padding-left: 10px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.gender__select_input {
    margin-top: 25px;
}

.gender__select_input-f {
    margin-left: 20px;
}

.login__text {
    margin-top: 35px;
    margin-bottom: 20px;
}

.registration__text {
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.submit {
    border: none;
    background-color: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px 35px;
    transition: all 0.3s ease;
}

.link__img {
    padding-left: 20px;
}

.registration__article {
    margin-top: 64px;
    margin-left: 130px;
}

.heading_reg {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 22px;
}

.reg__txt {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 21px;
}

.li__list {
    padding-bottom: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    list-style-type: none;
    list-style-image: url(img/galochka.png);
    padding-left: 22px;
    margin-left: 32px;
}

.submit:hover {
    background-color: #000000;
}